#eg1 {
    height: 300px;
    width: 300px;
    background-color: blue;
    border-style: solid;
    border-color: red;
    border-width: 10px;
    /* border: width style color */

    border-radius: 20px;
    /* border-radius: 50% (Circle) */
}

#eg2 {
    height: 100px;
    width: 200px;
    border-style: none;
}