* {
    padding: 0px;
    margin: 0px;
}

#eg1{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    /* position: static; default value */
}

#icon {
    width: 50px;
    height: 50px;
    background-color: #11B981;
    border-radius: 50%;
    font-size: 30px;
    color: white;

    position: fixed;
    bottom: 20px;
    right: 20px;
}

#eg2 {
    height: 300px;
    width: 300px;
    background-color: green;
    position: sticky;
    top: 300px;
}

#nav {
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    position: sticky;
    top: 0px;
}

#nav > span {
    padding: 0px 20px;
}

.box {
    height: 300px;
    width: 300px;
    position: sticky;
    top: 300px;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}