* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100vw;
    background-color: blue;
    display: flex;
    /* flex-direction: column; */ /* Row is default value */
    justify-content: center;
}

#container1 {
    width: 100vw;
    background-color: blue;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
}

#container2 {
    width: 100vw;
    background-color: blue;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
}

#container3 {
    width: 100vw;
    background-color: blue;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: red;
}

#a {
    height: 800px;
    width: 300px;
    background-color: pink;
    border: 2px solid yellow;
}

#b {
    height: 100px;
    width: 300px;
    background-color: green;
    border: 2px solid yellow;
}

#c {
    height: 500x;
    width: 800;
    background-color: aquamarine;
    border: 2px solid yellow;
}

#d {
    height: 800px;
    width: 500px;
    background-color: navajowhite;
    border: 2px solid yellow;
}