.box{
    height: 300px;
    width: 300px;
    background-color: blue;
}

/* @media screen and (max-width:1000px) {
    .box{
        background-color: red;
        width: 100%;
    }
} */

/* @media screen and (min-width:1000px) {
    .box{
        background-color: red;
        width: 100%;
    }
    .text-1{
        font-weight: 900;
        line-height: 20px;
    }
} */


@media screen and (orientation: landscape) {
    .box{
        background-color: red;
        width: 100%;
    }
    .text-1{
        font-weight: 900;
        line-height: 20px;
    }
}