@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#eg-1 {
    font-family: "Inter", sans-serif;
}

#eg-2 {
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

#eg-3{
    font-weight: 100;
}

#eg-4{
    font-weight: 300;
}

#eg-5{
    font-weight: 900;
}

#eg-6{
    font-weight: lighter;
}

#eg-6{
    font-size: 20px;
}

#eg-7{
    font-size: 40px;
}

#eg-8{
    font-size: 60px;
}

#eg-9{
    font-size: 100px;
}